<strong><%= comment.user.first_name %>:</strong>
  <%= comment.body %>

  <%= link_to "Delete", product_review_path(@product, review),
                        method: :delete,
                        remote: true,
                        data: {confirm: "Are you sure?"} %>

  <hr>
</div>
